/* FRONTEND CSS
*********************************************/
html {
  overflow-y: scroll;
}
body {
  background-color: #FFFFFF;
  padding-top: 20px;
}
/* Floats */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.ie7 .group {
  zoom: 1;
}
.img-responsive {
  height: auto !important;
  max-width: 100% !important;
  display: block !important;
}
.navbar-default {
  border: 1px solid transparent;
  background-color: transparent;
}
.navbar-default a.navbar-brand {
  color: #4edbf6;
  text-transform: uppercase;
}
.area-menu {
  border-bottom: 2px solid #4edbf6;
}
/* LAYOUT*/
.offerings {
  background-color: #eff1f4;
}
/*MENÜ*/
/*SUBMENU*/
/*BREADCRUMBS*/
/*TOP*/
/*SIDEBAR_A*/
/*SIDEBAR-B*/
/*INNER-TOP*/
.inner-top {
  margin-bottom: 20px;
}
/*CONTENT*/
/*INNER-BOTTM*/
.inner-bottom {
  margin-bottom: 20px;
}
/*FOOTER*/
/*COPYRIGHT*/
.copyright {
  border-top: 1px solid #EEEEEE;
  margin-top: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}
/* Pagestreet */
.pagestreet form h3 {
  display: block;
  background-color: #4e7bf5;
  color: #ffffff;
}
/* Media Queries
*********************************************/
/* Retina */
/* Extra small devices (phones, up to 480px) */
/*Extra small devices*/
/* Small devices Tablets  */
/* Medium desktop */
/* Large desktop */
@media (min-width: 1200px) {
  .bottom .col-md-2 .custom {
    height: 167px;
  }
  .kontakt .box {
    width: 228px;
  }
}
